<!DOCTYPE html>
<html>

    <head>
        <title>Fruit Classification</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>

        <h1>Fruit Classifier</h1>

        <div id="dropZone" class="drop-zone">

            <span id="placeholder">
                Kéo ảnh vào đây
            </span>

            <img id="preview">

        </div>

        <button onclick="predict()">
            Predict
        </button>

        <h2 id="result"></h2>

        <script src="/static/main.js"></script>

    </body>

</html>